<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  id="saveAgent" action="/declareAward/manage" method="POST" enctype="multipart/form-data">
    名称：<input type="text" name="dName" /><br>
    aId：<input type="text" name="aId" /><br>
    法人：<input type="text" name="cLegalperson" /><br>
    infoid：<input type="text" name="infoid" /><br>
    文件：<input type="file" name="blFile" /><br>
    <input type="submit" value="提交" id="submitBnt">
</form>
<a href="/declareAward/manage?pageNum=1&pageSize=5&infoid=2">555</a>
</body>
</html>