<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.ActivityCategoryMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.ActivityCategory">
    <id column="ac_id" jdbcType="INTEGER" property="acId" />
    <result column="ac_category" jdbcType="VARCHAR" property="acCategory" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_category
    where ac_id = #{acId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.ActivityCategory">
    insert into activity_category ( ac_category)
    values ( #{acCategory,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.ActivityCategory">
    update activity_category
    set ac_category = #{acCategory,jdbcType=VARCHAR}
    where ac_id = #{acId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ac_id, ac_category
    from activity_category
    where ac_id = #{acId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ac_id, ac_category
    from activity_category
  </select>

  <select id="selectSystemActivityCategoryListByPage" resultMap="BaseResultMap">
    select ac_id, ac_category
    from activity_category
  </select>

  <select id="searchSystemActivityCategoryByPage" resultMap="BaseResultMap">
    select ac_id, ac_category
    from activity_category
    <where>
      <if test="category != null and category != ''">
        and activity_category.ac_category like concat('%', #{category,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>
</mapper>