<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.ApplicationAdmissionMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.ApplicationAdmission">
    <id column="c_Id" jdbcType="INTEGER" property="id" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_category" jdbcType="VARCHAR" property="cCategory" />
    <result column="c_legalPerson" jdbcType="VARCHAR" property="cLegalperson" />
    <result column="c_date" jdbcType="DATE" property="cDate" />
    <result column="c_fund" jdbcType="DOUBLE" property="cFund" />
    <result column="c_product" jdbcType="VARCHAR" property="cProduct" />
    <result column="c_employee" jdbcType="INTEGER" property="cEmployee" />
    <result column="c_information" jdbcType="VARCHAR" property="cInformation" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="c_status" jdbcType="INTEGER" property="cStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from technology.application_admission
    where c_Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.ApplicationAdmission">
    insert into technology.application_admission (c_Id, c_name, c_category,
      c_legalPerson, c_date, c_fund, 
      c_product, c_employee, c_information, 
      file_name,c_status)
    values (#{id,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cCategory,jdbcType=VARCHAR}, 
      #{cLegalperson,jdbcType=VARCHAR}, #{cDate,jdbcType=DATE}, #{cFund,jdbcType=DOUBLE}, 
      #{cProduct,jdbcType=VARCHAR}, #{cEmployee,jdbcType=INTEGER}, #{cInformation,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR},#{cStatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.ApplicationAdmission">
    update technology.application_admission
    set c_name = #{cName,jdbcType=VARCHAR},
      c_category = #{cCategory,jdbcType=VARCHAR},
      c_legalPerson = #{cLegalperson,jdbcType=VARCHAR},
      c_date = #{cDate,jdbcType=DATE},
      c_fund = #{cFund,jdbcType=DOUBLE},
      c_product = #{cProduct,jdbcType=VARCHAR},
      c_employee = #{cEmployee,jdbcType=INTEGER},
      c_information = #{cInformation,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      c_status = #{cStatus,jdbcType=INTEGER}
    where c_Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select c_Id, c_name, c_category, c_legalPerson, c_date, c_fund, c_product, c_employee,
    c_information, file_name,c_status
    from technology.application_admission
    where c_Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select c_Id, c_name, c_category, c_legalPerson, c_date, c_fund, c_product, c_employee,
    c_information, file_name,c_status
    from technology.application_admission
  </select>
</mapper>