<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.DegreeMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.Degree">
    <id column="x_Id" jdbcType="INTEGER" property="xId" />
    <result column="x_name" jdbcType="VARCHAR" property="xName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from degree
    where x_Id = #{xId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.Degree">
    insert into degree (x_Id, x_name)
    values (#{xId,jdbcType=INTEGER}, #{xName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.Degree">
    update degree
    set x_name = #{xName,jdbcType=VARCHAR}
    where x_Id = #{xId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select x_Id, x_name
    from degree
    where x_Id = #{xId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select x_Id, x_name
    from degree
  </select>
  <select id="selectByPage" resultMap="BaseResultMap">
    select x_Id, x_name
    from degree
  </select>
  <select id="searchDegreeName" resultMap="BaseResultMap">
    select x_Id, x_name
    from degree
    where x_name like concat('%', #{degreeName,jdbcType=VARCHAR}, '%')
  </select>
</mapper>