<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.JobTitleMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.JobTitle">
    <id column="jt_id" jdbcType="INTEGER" property="jtId" />
    <result column="jt_title" jdbcType="VARCHAR" property="jtTitle" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_title
    where jt_id = #{jtId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.JobTitle">
    insert into job_title (jt_title)
    values ( #{jtTitle,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.JobTitle">
    update job_title
    set jt_title = #{jtTitle,jdbcType=VARCHAR}
    where jt_id = #{jtId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select jt_id, jt_title
    from job_title
    where jt_id = #{jtId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select jt_id, jt_title
    from job_title
  </select>

  <select id="selectSystemJobTitleListByPage" resultMap="BaseResultMap">
    select jt_id, jt_title
    from job_title
  </select>

  <update id="updateByIdDynamic" parameterType="com.technologygarden.entity.JobTitle">
    update job_title
    <set>
      <if test="jtTitle != null and jtTitle != ''">
        jt_title = #{jtTitle,jdbcType=VARCHAR}
      </if>
    </set>
    where jt_id = #{jtId,jdbcType=INTEGER}
  </update>

  <select id="searchSystemJobTitleListByPage" resultMap="BaseResultMap">
    select jt_id, jt_title
    from job_title
    <where>
      <if test="jobTitle != null and jobTitle != ''">
        and jt_title like concat('%', #{jobTitle,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>
</mapper>