<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.LegalPersonMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.LegalPerson">
    <id column="lp_id" jdbcType="INTEGER" property="lpId" />
    <result column="lp_name" jdbcType="VARCHAR" property="lpName" />
    <result column="lp_sex" jdbcType="INTEGER" property="lpSex" />
    <result column="lp_degree_id" jdbcType="INTEGER" property="lpDegreeId" />
    <result column="lp_jt_id" jdbcType="INTEGER" property="lpJtId" />
    <result column="lp_c_name" jdbcType="VARCHAR" property="lpCName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from legal_person
    where lp_id = #{lpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.LegalPerson">
    insert into legal_person (lp_name, lp_sex,
      lp_degree_id, lp_jt_id, lp_c_name
      )
    values (#{lpName,jdbcType=VARCHAR}, #{lpSex,jdbcType=INTEGER},
      #{lpDegreeId,jdbcType=INTEGER}, #{lpJtId,jdbcType=INTEGER}, #{lpCName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.LegalPerson">
    update legal_person
    set lp_name = #{lpName,jdbcType=VARCHAR},
      lp_sex = #{lpSex,jdbcType=INTEGER},
      lp_degree_id = #{lpDegreeId,jdbcType=INTEGER},
      lp_jt_id = #{lpJtId,jdbcType=INTEGER},
      lp_c_name = #{lpCName,jdbcType=VARCHAR}
    where lp_id = #{lpId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select lp_id, lp_name, lp_sex, lp_degree_id, lp_jt_id, lp_c_name
    from legal_person
    where lp_id = #{lpId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select lp_id, lp_name, lp_sex, lp_degree_id, lp_jt_id, lp_c_name
    from legal_person
  </select>

  <select id="selectLegalPersonByPage" resultMap="LegalPersonWithInfo">
    select legal_person.*, job_title.*, degree.*
    from legal_person, job_title, degree
    where legal_person.lp_degree_id = degree.x_Id and legal_person.lp_jt_id = job_title.jt_id
  </select>
  <resultMap id="LegalPersonWithInfo" type="com.technologygarden.entity.LegalPerson">
    <id column="lp_id" jdbcType="INTEGER" property="lpId" />
    <result column="lp_name" jdbcType="VARCHAR" property="lpName" />
    <result column="lp_sex" jdbcType="INTEGER" property="lpSex" />
    <result column="lp_degree_id" jdbcType="INTEGER" property="lpDegreeId" />
    <result column="lp_jt_id" jdbcType="INTEGER" property="lpJtId" />
    <result column="lp_c_name" jdbcType="VARCHAR" property="lpCName" />
    <association property="degree" javaType="com.technologygarden.entity.Degree">
      <id column="x_Id" jdbcType="INTEGER" property="xId" />
      <result column="x_name" jdbcType="VARCHAR" property="xName" />
    </association>
    <association property="jobTitle" javaType="com.technologygarden.entity.JobTitle">
      <id column="jt_id" jdbcType="INTEGER" property="jtId" />
      <result column="jt_title" jdbcType="VARCHAR" property="jtTitle" />
    </association>
  </resultMap>

  <select id="selectLegalPersonByDegreeId" resultMap="LegalPersonWithInfo">
    select legal_person.*, job_title.*, degree.*
    from legal_person, job_title, degree
    where legal_person.lp_degree_id = #{degreeId,jdbcType=INTEGER}
    and legal_person.lp_degree_id = degree.x_Id
    and legal_person.lp_jt_id = job_title.jt_id
  </select>

  <select id="selectLegalPersonByJobTitleId" resultMap="LegalPersonWithInfo">
    select legal_person.*, job_title.*, degree.*
    from legal_person, job_title, degree
    where legal_person.lp_jt_id = #{jobTitleId,jdbcType=INTEGER}
    and legal_person.lp_degree_id = degree.x_Id
    and legal_person.lp_jt_id = job_title.jt_id
  </select>

  <insert id="insertReturnPrimaryKey" parameterType="com.technologygarden.entity.LegalPerson">
    insert into legal_person
    (lp_name, lp_sex,lp_degree_id, lp_jt_id, lp_c_name)
    values
    (#{lpName,jdbcType=VARCHAR}, #{lpSex,jdbcType=INTEGER},#{lpDegreeId,jdbcType=INTEGER},
    #{lpJtId,jdbcType=INTEGER}, #{lpCName,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="lpId">
      SELECT LAST_INSERT_ID();
    </selectKey>
  </insert>

  <select id="searchLegalPersonByPage" resultMap="LegalPersonWithInfo">
    select legal_person.*, job_title.*, degree.*
    from legal_person, job_title, degree
    <where>
      and legal_person.lp_degree_id = degree.x_Id
      and legal_person.lp_jt_id = job_title.jt_id
      <if test="legalPersonName != null and legalPersonName != ''">
        and legal_person.lp_name like concat('%', #{legalPersonName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="companyName != null and companyName != ''">
        and legal_person.lp_c_name like concat('%', #{companyName,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>
</mapper>