<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.MenuMapper">


    <select id="selectAllMenuWithRightsByRoleId" resultMap="MenuWithRights">
        select m.*, r.*
        from menu m, rights r
        <if test="roleId != null">
            , role_rights rr
        </if>
        <where>
            and m.m_id = r.r_menu_id
            <if test="roleId != null">
                and rr.rr_role_id = #{roleId,jdbcType=INTEGER}
                and rr.rr_rights_id = r.r_id
            </if>
        </where>
    </select>
    <resultMap id="MenuWithRights" type="com.technologygarden.entity.Menu">
        <id column="m_id" jdbcType="INTEGER" property="mId" />
        <result column="m_title" jdbcType="VARCHAR" property="mTitle" />
        <collection property="rightsList" ofType="com.technologygarden.entity.Rights">
            <id column="r_id" jdbcType="INTEGER" property="rId" />
            <result column="r_perms" jdbcType="VARCHAR" property="rPerms" />
            <result column="r_url" jdbcType="VARCHAR" property="rUrl" />
            <result column="r_description" jdbcType="VARCHAR" property="rDescription" />
            <result column="r_menu_id" jdbcType="INTEGER" property="rMenuId" />
        </collection>
    </resultMap>
</mapper>