<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.RightsMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.Rights">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="r_perms" jdbcType="VARCHAR" property="rPerms" />
    <result column="r_url" jdbcType="VARCHAR" property="rUrl" />
    <result column="r_description" jdbcType="VARCHAR" property="rDescription" />
    <result column="r_menu_id" jdbcType="INTEGER" property="rMenuId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rights
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.Rights">
    insert into rights (r_id, r_perms, r_url, 
      r_description, r_menu_id)
    values (#{rId,jdbcType=INTEGER}, #{rPerms,jdbcType=VARCHAR}, #{rUrl,jdbcType=VARCHAR}, 
      #{rDescription,jdbcType=VARCHAR}, #{rMenuId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.Rights">
    update rights
    set r_perms = #{rPerms,jdbcType=VARCHAR},
      r_url = #{rUrl,jdbcType=VARCHAR},
      r_description = #{rDescription,jdbcType=VARCHAR},
      r_menu_id = #{rMenuId,jdbcType=INTEGER}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from rights
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from rights
  </select>

  <select id="selectRightsByRoleId" resultMap="BaseResultMap">
    select rights.*
    from rights, role_rights
    where role_rights.rr_role_id = #{roleId,jdbcType=INTEGER}
    and rights.r_id = role_rights.rr_rights_id
  </select>
</mapper>