<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technologygarden.dao.RoleRightsMapper">
  <resultMap id="BaseResultMap" type="com.technologygarden.entity.RoleRights">
    <id column="rr_id" jdbcType="INTEGER" property="rrId" />
    <result column="rr_role_id" jdbcType="INTEGER" property="rrRoleId" />
    <result column="rr_rights_id" jdbcType="INTEGER" property="rrRightsId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_rights
    where rr_id = #{rrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technologygarden.entity.RoleRights">
    insert into role_rights (rr_id, rr_role_id, rr_rights_id
      )
    values (#{rrId,jdbcType=INTEGER}, #{rrRoleId,jdbcType=INTEGER}, #{rrRightsId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.technologygarden.entity.RoleRights">
    update role_rights
    set rr_role_id = #{rrRoleId,jdbcType=INTEGER},
      rr_rights_id = #{rrRightsId,jdbcType=INTEGER}
    where rr_id = #{rrId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select rr_id, rr_role_id, rr_rights_id
    from role_rights
    where rr_id = #{rrId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select rr_id, rr_role_id, rr_rights_id
    from role_rights
  </select>

  <delete id="deleteByRoleId">
    delete from role_rights
    where rr_role_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertForeach">
    insert into role_rights
    (rr_role_id, rr_rights_id)
    VALUES
    <foreach collection="rightsList" item="item" index="index" separator=",">
      (
        #{id,jdbcType=INTEGER},
        #{item,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
</mapper>